<div class="container py-5">
    <div class="row row-cols-1 row-cols-md-2 row-gap-5">
        <div class="col text-center text-md-start">
            <a class="footer-brand m-0 py-1 d-block" href="/">
                <img src="https://masjidalaqsa.b-cdn.net/assets/images/majisd-al-aqsa-com-logo.svg" width="196"
                    height="80" alt="Masjid Al-Aqsa">
            </a>
        </div>
        <div class="col text-center d-flex align-items-center justify-content-center justify-content-md-end">
            <ul class="p-0 m-0 list-unstyled d-flex align-items-center gap-3 flex-column flex-md-row">
                <li><a href="/masjid-al-aqsa-history" class="fs-15">History</a></li>
                <li><a href="/al-aqsa-gallery" class="fs-15">Gallery</a></li>
                <li><a href="/contact" class="fs-15">Contact</a></li>
                <li>
                    <div class="bg-white d-none d-md-block" style="width: 1px; height: 24px; opacity: 0.4;"></div>
                </li>
                <li>
                    <a href="https://twitter.com/TheMasjidAlAqsa" target="_blank" class="p-2">
                        <i class="fa-brands fa-x-twitter fs-18"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="copyright py-4 px-3">
    <p class="text-grey text-center fs-14">Copyright © 2023. Masjid Al-Aqsa. All rights reserved. <a
            href="/copyright-policy">Copyright Policy</a> - <a href="/terms-and-privacy-policy">Terms & Privacy</a> </p>
</div>

<!-- Follow on twitter fixed -->
<a href="https://twitter.com/TheMasjidAlAqsa" target="_blank">
    <i class="follow-twitter-fixed fa-brands fa-x-twitter" data-bs-toggle="tooltip" title="Follow us on Twitter"
        data-bs-placement="top"></i>
</a>