<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand m-0" href="/">
                    <img src="https://masjidalaqsa.b-cdn.net/assets/images/majisd-al-aqsa-com-logo.svg" width="196"
                        height="80" alt="logo">
                </a>
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i
                        class="navbar-toggler-icon fa-solid fa-bars text-white d-flex align-items-center justify-content-center"></i>
                </button>
                <div class="collapse navbar-collapse py-3 py-lg-0" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link px-0 py-3 px-lg-3  text-white" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link px-0 py-3 px-lg-3 text-white dropdown-toggle"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Gallery
                            </a>
                            <ul class="dropdown-menu m-0 border-0 py-0 px-3 py-lg-3 text-lg-center">
                                <li><a class="dropdown-item nav-link px-0 py-2 px-lg-3 py-lg-1 "
                                        href="/al-aqsa-gallery">Masjid Al-Aqsa</a>
                                </li>
                                <li><a class="dropdown-item nav-link px-0 py-2 px-lg-3 py-lg-1 "
                                        href="/palestine-before-occupation-pre-1948-photos">Palestine
                                        Pre-1948</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link px-0 py-3 px-lg-3  text-white dropdown-toggle" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                History
                            </a>
                            <ul class="dropdown-menu m-0 border-0 py-0 px-3 py-lg-3 text-lg-center">
                                <li><a class="dropdown-item nav-link px-0 py-2 px-lg-3 py-lg-1 "
                                        href="/israel-palestine-history-explained-1948-2023">Israel
                                        Palestine History</a></li>
                                <li><a class="dropdown-item nav-link px-0 py-2 px-lg-3 py-lg-1"
                                        href="/masjid-al-aqsa-history">History of Al-Aqsa</a></li>
                                <li><a class="dropdown-item nav-link px-0 py-2 px-lg-3 py-lg-1"
                                        href="/palestine-land-of-the-prophets-history">Land of the Prophets</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link px-0 py-3 px-lg-3  text-white dropdown-toggle" href="gallery"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Gaza Genocide
                            </a>
                            <ul class="dropdown-menu m-0 border-0 py-0 px-3 py-lg-3 text-lg-center">
                                <li><a class="dropdown-item nav-link px-0 py-2 px-lg-3 py-lg-1 "
                                        href="/gaza-genocide-israel-hamas-2023">Horrors of Genocide</a></li>
                                <li><a class="dropdown-item nav-link px-0 py-2 px-lg-3 py-lg-1 "
                                        href="/wall-of-martyrs-gaza-genocide-2023">Wall of Martyrs</a></li>
                                <li><a class="dropdown-item nav-link px-0 py-2 px-lg-3 py-lg-1 "
                                        href="/gaza-destruction-by-israeli-bombardment">Gaza Destruction</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link px-0 py-3 px-lg-3  text-white dropdown-toggle" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Other
                            </a>
                            <ul class="dropdown-menu m-0 border-0 py-0 px-3 py-lg-3 text-lg-center">
                                <li><a class="dropdown-item nav-link px-0 py-2 px-lg-3 py-lg-1"
                                        href="/boycott-israeli-products-brands-list">Boycott List</a></li>
                                <li><a class="dropdown-item nav-link px-0 py-2 px-lg-3 py-lg-1 "
                                        href="/israeli-product-checker-boycott-list">Israeli Product Checker</a></li>
                                <li><a class="dropdown-item nav-link px-0 py-2 px-lg-3 py-lg-1"
                                        href="/south-africa-icj-case-against-israel">South Africa ICJ case</a></li>
                                <li><a class="dropdown-item nav-link px-0 py-2 px-lg-3 py-lg-1 "
                                        href="/useful-links-for-education">Useful links</a></li>
                                <li><a class="dropdown-item nav-link px-0 py-2 px-lg-3 py-lg-1 " href="/about">About
                                        us</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-0 py-3 px-lg-3  text-white" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>
</div>